<nav class="shadow">
  <mat-toolbar
    class="bg-primary-default dark:bg-default-600 justify-between transition-colors ease-in-out duration-500">
    <div class="flex items-center">
      <button class="text-white" mat-icon-button aria-label="Example icon-button with menu icon"
        (click)="toggleSidenavButton()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="text-white">My App</span>
    </div>
    <div class="flex items-center">
      <span class="text-base font-bold p-2 text-white">{{currentDate | date : 'medium'}}</span>
      <button mat-icon-button class="text-white" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="text-white" aria-label="Example icon-button with share icon"
        [matTooltip]="currentTheme.themeMode === ThemeMode.DARK ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'"
        (click)="changeThemeMode(currentTheme.themeMode)">
        <mat-icon class="text-default-600 dark:text-yellow-500">
          {{ currentTheme.themeMode === ThemeMode.DARK ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
      </button>
    </div>
  </mat-toolbar>
</nav>
